test/csr.csv
firmware/softcpu/*.d
firmware/softcpu/*.o
firmware/softcpu/boot.bin
firmware/softcpu/firmware.bin
firmware/softcpu/firmware.fbi
firmware/softcpu/firmware.elf
firmware/softcpu/fx2_fw_hdmi2usb.c
firmware/softcpu/version_data.h
test/dump.png
build
*.pyc
*.pnm
